# Hugo default output directory
public/
/exampleSite/resources/
/exampleSite/.hugo_build.lock
.hugo_build.lock
node_modules/
build/
package-lock.json
/tmp

# vim temporary files
*~
*.sw?

# IDE files
.idea
.fleet

# VS Code
/.vscode/**
!/.vscode/cspell.json

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Linux
.directory
